/* Hàm dùng để điều chỉnh sản phẩm hiện thị khi kích thước hiển thị nhỏ hơn kích thước dự kiến */
/* Kích thước của điện thoại */
@media (max-width: 480px) {
  .product {
    grid-template-columns: 1fr;
  }
  .product-game {
    grid-template-columns: 1fr 1fr;
  }
  .product-top {
    font-size: 15px;
  }
  .product-top-tilte {
    padding: 10px 10px;
  }
  .main-content {
    width: 90%;
  }
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
  }
  .Logo_website {
    height: calc(80px - 20px);
  }
  .name-wallpaper {
    height: 70px;
  }
}
/* Kích thước của tablet nhỏ */
@media (min-width: 500px) and (max-width: 768px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
  .product-game {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-content {
    width: 90%;
  }
  .product-top {
    font-size: 15px;
  }
}

/* Kích thước tablet phổ phông */
@media (min-width: 768px) and (max-width: 1024px) {
  .product {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-game {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .main-content {
    width: 90%;
  }
  .product-top {
    font-size: 18px;
  }
}

/* chuyển đổi thanh menu */
@media (max-width: 920px) {
  .main-menu {
    flex-direction: column;
    justify-content: left;
  }

  .header {
  }

  .Logo_website {
  }
}
