* {
  box-sizing: border-box;
}

html {
  font-size: 60%;
}
body {
  font-size: 1.6rem;
  font-family: arial;
}
/* Header */
.header {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #eb412f;
  width: 100%;
}

.left-selection {
}

.middle-selection {
  flex: 1;
  margin-left: 155px;
  margin-right: 100px;
  max-width: 520px; /*giới hạn thanh tìm kiếm ở mức 300px*/
  display: flex;
  align-items: center;
}

.right-selection {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 100px;
  padding: 10px 20px;
}

.search-button {
  height: 35px;
  width: 35px;
}

.search-bar {
  flex: 1;
  height: 35px;
  border: 1px solid gray;
  margin-left: -1px;
}

.cart .fa-cart-shopping {
  font-size: 35px;
}

.text-header {
  padding-right: 10px;
  font-weight: 500;
}
.Logo_website {
  height: 100px;
}
/* Menu - Navigation bar */
.menu ul {
  display: flex;
  background-color: #f2ddbe;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.logo_menu {
  display: flex;
  align-items: center;
  color: black;
}

.Text-Menu {
  padding-left: 10px;
}
/* Thân trang */
.Text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2ddbe;
  width: calc(100% - 400px);
  margin: 30px auto;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
}

.product-top {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: calc(100% - 400px);
  font-size: 15px;
}
.line {
  margin-top: 20px;
  border: 1px solid gray;
  width: calc(90% - 39px);
  height: 1px;
  opacity: 40%;
}
.product-top-tilte {
  border: 2px solid rgb(189, 187, 187);
  padding: 10px 20px;
  font-weight: 700;
}

.product-top-text {
  margin-top: 12.5px;
}
/* Chân trang */

footer {
  background-color: #f2ddbe;
  padding: 20px 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.footer-content div {
  flex: 1;
  margin: 0 10px;
}
.footer-content h3 {
  margin-top: 0;
}
.footer-content a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.footer-content img {
  margin-right: 5px;
}

.footer-text-title {
  font-weight: 700;
}
