* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: arial;
}
/* Header */
.header {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #eb412f;
}

.left-selection {
}

.middle-selection {
  flex: 1;
  margin-left: 155px;
  margin-right: 100px;
  max-width: 520px; /*giới hạn thanh tìm kiếm ở mức 300px*/
  display: flex;
  align-items: center;
}

.right-selection {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 100px;
  padding: 10px 20px;
}

.search-button {
  height: 35px;
  width: 35px;
}

.search-bar {
  flex: 1;
  height: 35px;
  border: 1px solid gray;
  margin-left: -1px;
}
.cart {
}
.cart .fa-cart-shopping {
  font-size: 35px;
}

.text-header {
  padding-right: 10px;
  font-weight: 500;
}
.Logo_website {
  height: 100px;
}
/* Menu - Navigation bar */
.menu ul {
  display: flex;
  background-color: #f2ddbe;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.logo_menu {
  display: flex;
  align-items: center;
  color: black;
}

.Text-Menu {
  padding-left: 10px;
}
